.panel{
  margin: 10%;
  margin-left:35%;
  margin-right:35%
}
/*.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.loader {
  margin: auto;
}

.loaderImg {
  height:100%;
  width: 100%;
}*/

/*.col-xs-2{
  margin:auto;
}*/
